// styles.scss
@use 'base';

$font-stack: 'Roboto', sans-serif;
/* colors */
$bg1: #0B0C10DD;
$bg2: url("../images/scratch-metal-texture-dark.jpg");
$fg1: #C5C6C7; // main
$fg2: #66FCF1; // accent
$fg3: #45A29E; // subtler
/* sizes */
$header-height: 30px;
$footer-height: $header-height;
$min-side-height: 250px;
$min-main-width: 500px;
$min-side-width: 250px; 
$content-inset: 8px;

body {
    font: 100% $font-stack;
    margin: 0;
    padding: 0;
    color: $fg1;
    background: $bg2;
}

.content {
    grid-column: 1;
    grid-row: 1;
    margin: 0 5px;
    padding: 0;
    display: grid;
    // 2 columns x 3 rows
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr auto 1fr auto;
    row-gap: 5px;
    column-gap: 5px;
    height: 100vh;
    //
    .c-header {
        grid-column: 1 / -1;
        grid-row: 1;
        .title {
            font-size: 100%;
            color: $fg1;
            line-height: 2em;
            margin-left: 2em;
        }
    }
    .c-main {
        grid-column: 1;
        grid-row: 3 / span 3;
        background: $bg1;
    }
    .c-title {
        background: transparent;
        color: $fg2;
        font-size: 90%;
        line-height: 2em;
        text-align: left;
    }
    .c-side1 {
        grid-column: 2;
        grid-row: 3;
        background: $bg1;
    }
    .c-side2 {
        grid-column: 2;
        grid-row: 5;
        background: $bg1;
    }
    .c-footer {
        grid-column: 1 / -1;
        grid-row: 6;
        .status {
            color: $fg1;
            font-style: italic;
            line-height: 2em;
            margin-left: 1em;
        }
    }
    /* horizontal line with 2 shadows = hamburger! */
    .hamburger {
        content: "";
        position: absolute;
        top: 0.5em;
        left: 5px;
        width: 1.5em;
        height: 0.15em;
        border-top: 0.5em double $fg3;
        border-bottom: 0.1875em solid $fg3;
    }
}

table[data-sortable] {
    margin: 0;
    padding: 0;
    width: 95%;
    font-size: 100%;
}
table[data-sortable].sortable-theme-dark {
    color: $fg1;
    background: transparent;
    tbody td, thead th {
        padding: 0;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
    }
    thead th {
        color: $fg3;
        font-weight: 500;
        padding-top: 0.5em;
    }
}